<BarcodeReader @ref="barcodeReader"
               ScanResult="ApplyQrCode"
               Close="CloseReader"
               OnError="ApplyError"
               UseBuiltinDiv="false" />

<div @ref="barcodeReader!.barcodeScannerElement">
    <div style="max-width: 100%">
        <div style="display: none">
            <div data-action="sourceSelectPanel" style="display:none">
                <label for="sourceSelect">Select camera:</label>
                <span data-action="result"></span>
                <select data-action="sourceSelect" style="max-width:100%"></select>
            </div>
        </div>

        <video id="video" playsinline autoplay style="max-width: 100%; object-fit: cover; aspect-ratio: 1/1;"></video>

        <button data-action="startButton" style="display:none">Scan</button>
        <button data-action="resetButton" style="display:none">Reset</button>
        <button data-action="closeButton" style="display:none">Reset</button>

        <div class="d-flex justify-center">
            <MudButton OnClick="Close" Variant="Variant.Filled" Color="Color.Secondary" Class="my-4">Close</MudButton>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<string> ApplyQrCode { get; set; }
    [Parameter]
    public EventCallback CloseReader { get; set; }
    [Parameter]
    public required Func<string, Task> ApplyError { get; set; }

    private BarcodeReader? barcodeReader;

    private void Close()
    {
        barcodeReader?.CloseScan();
    }

}
